name: Deploy Staging

on:
  push:
    branches:
      - staging

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  REGION: asia-northeast1
  IMAGE_NAME: asia-northeast1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/celestial-inference-staging/inference

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Build and Push Container
        run: |
          TAG=${{ github.sha }}
          FULL_IMAGE="${{ env.IMAGE_NAME }}:$TAG"
          gcloud auth configure-docker asia-northeast1-docker.pkg.dev --quiet
          docker build -t $FULL_IMAGE -f src/backend/Dockerfile src/backend
          docker push $FULL_IMAGE

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.5

      - name: Terraform Apply
        working-directory: terraform/environments/staging
        run: |
          terraform init
          terraform apply -auto-approve \
            -var="project_id=${{ secrets.PROJECT_ID }}" \
            -var="image_tag=${{ github.sha }}"